/* Scrollbar */
::-webkit-scrollbar {
  width: 1.3rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #fff;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}

/* Container principal */
.container3 {
  max-width: 124rem;
  padding: 0 1rem;
  margin: 0 auto;
}

/* Texto */
.section-subheading {
  color: white;
  font-size: 12px;
}

.text-center {
  text-align: center;
}

.section-heading {
  font-size: 3rem;
  color: var(--primary);
  padding: 2rem 0;
}

/* Tranding */
#tranding {
  padding: 4rem 0;
}

@media (max-width:1440px) {
  #tranding {
    padding: 7rem 0;
  }
}

#tranding .tranding-slider {
  height: 40rem;
  padding: 2rem 0;
  position: relative;
}

/* Ajustes para telas menores */
@media (max-width:500px) {
  #tranding .tranding-slider {
    height: 32rem;
  }
}

/* Slide */
.tranding-slide {
  width: 27rem;
  height: 32rem;
  position: relative;
}

@media (max-width:500px) {
  .tranding-slide {
    width: 100% !important;
    height: auto !important;
  }

  .tranding-slide .tranding-slide-img img {
    width: 100% !important;
    height: auto !important;
  }
}

/* Imagem */
.tranding-slide .tranding-slide-img img {
  width: 27rem;
  height: 32rem;
  border-radius: 2rem;
  object-fit: contain;
}

/* Conteúdo */
.tranding-slide .tranding-slide-content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.tranding-slide-content .food-price {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: var(--white);
}

.tranding-slide-content .tranding-slide-content-bottom {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: var(--white);
}

/* Rating */
.food-rating {
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
}

.rating ion-icon {
  color: var(--primary);
}

/* Oculta sombras */
.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

/* Controle do slider */
.tranding-slider-control {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

/* Ajuste do espaçamento das setas */
.tranding-slider-control .swiper-button-next,
.tranding-slider-control .swiper-button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 3.5rem;
  height: 3.5rem;
  background: var(--white);
  border-radius: 50%;
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .swiper-button-prev {
  left: 10%;
}

.tranding-slider-control .swiper-button-next {
  right: 10%;
}

.tranding-slider-control .slider-arrow ion-icon {
  font-size: 2rem;
  color: #fff;
}

/* Ajustes para mobile */
@media (max-width:500px) {
  .tranding-slider-control {
    bottom: 0.5rem;
  }

  .tranding-slider-control .swiper-button-prev {
    left: 5%;
  }

  .tranding-slider-control .swiper-button-next {
    right: 5%;
  }
}

/* Paginação */
.tranding-slider-control .swiper-pagination {
  position: relative;
  width: 15rem;
  bottom: 1rem;
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}
